<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.ejs</title>
</head>
<body>
    <form action="receive" method="post">
        <input type="text" name="name" placeholder="이름" required><br>
        <input type="radio" name="gender" value="남">남
        <input type="radio" name="gender" value="여">여<br>
        <input type="checkbox" name="sports" value="축구">축구
        <input type="checkbox" name="sports" value="야구">야구
        <input type="checkbox" name="sports" value="농구">농구<br>
        <select name="year">
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
        <button>전송</button>
    </form>
</body>
</html>