<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="practice_receive_practice32" method="post">
        <fieldset>
            <legend>post로 정보 받기</legend>
            <p>폼 전송 - 실습</p>
            <p>아이디
               <input type="text" name="id" required>
            </p>
            <p>비밀번호
                <input type="password" name="pw" required>
            </p>
            <p>이름
                <input type="text" name="name" required>
            </p>
            <br>
            <input type="reset">
            <button>회원가입</button>
        </fieldset>
    </form>
</body>
</html>