<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var i = 0;
        const sendPost = () => {
            axios({
                method : "post",
                url : "http://localhost:8080/receive",
                data : {
                    name : { "1" : "a"}
                }
            }).then((res) => {
                console.log(res.data);
            })
        }

    </script>
</head>
<body>
    <form action="/receive" method="get">
        <button type="button" onclick="sendPost();">버튼</button>
    </form>
    <button onclick="sendPost();">Post 보내기</button>
</body>
</html>