html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  background: #cdc9c3;
  width: 100%;
  height: 100%;
  grid-template-rows: 70px 1fr 100px;
}
/* 타이틀 스타일 */
.title-container {
  display: grid;
  grid-template-columns: 85px 1fr 85px;
  background: #d9e4dd;
  color: #555555;
  border-bottom: 3px solid #555555;
}
.title-text {
  line-height: 70px;
  font-size: 45px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}
.box-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100%;
  border-radius: 0 0 10px 10px;
}
.chat-container {
  background: #fbf7f0;
  position: relative;
}
.box {
  height: calc(100% - 54px);
  overflow: auto;
  position: relative;
  margin: 7px;
}
.message {
  width: 85%;
  height: 25px;
  margin: 0 auto;
  color: #555555;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.mymessage {
  background: #d9e4dd;
  color: #555555;
  display: inline-block;
  line-height: 17px;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  max-width: 200px;
  word-break: break-all;
}
.yourmessage {
  background: #d9e4dd;
  color: #555555;
  display: inline-block;
  line-height: 17px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 200px;
  padding: 5px;
  word-break: break-all;
}
.my-meg-container {
  text-align: end;
  padding-right: 5px;
  margin: 3px 0;
}
/* 상대방 메시지 */
.your-meg-container {
  padding-right: 5px;
  /* height: 48px; */
  margin: 3px 0;
}
.opponent-id {
  font-size: 12px;
  padding-bottom: 3px;
}
.meg-time {
  font-size: 4px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 8px;
}
.dm-user {
  display: inline-block;
}
.box_dm {
  width: 300px;
  height: 300px;
  background: #9bbbd4;
  margin-bottom: 30px;
  overflow: auto;
  position: relative;
  padding: 5px;
  border-radius: 5px;
}
.dm {
  background-color: pink;
}
.dm-container {
  display: none;
}
.dm-exit {
}

.user-list-container {
  background-color: #555555;
}
.user-list-title {
  text-align: center;
  color: white;
}
.user-list {
  color: white;
  text-align: center;
}
.txt-container {
  height: 40px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}
.txt-plus-btn {
  width: 40px;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #a0bcc2;
  color: #555555;
  font-size: 25px;
  cursor: pointer;
}
.txt-plus-btn:hover {
  background-color: #dae5d0;
  color: #555555;
}
.txt {
  border: none;
  height: 100%;
  width: calc(100% - 47px) !important;
  font-size: 16px;
  padding: 0 0 0 8px;
}
.txt:focus-visible {
  outline: none;
}
.txt-btn {
  width: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #a0bcc2;
  color: #555555;
}
.txt-btn:hover {
  background-color: #dae5d0;
  color: #555555;
}
.rename-btn {
  margin-bottom: 50px;
  margin-top: 20px;
  background: #321c1b;
  color: white;
  border: none;
  height: 25px;
}
.rename-btn:hover {
  background-color: #edda49;
  color: #321c1b;
}
.txt-plus-container {
  display: none;
  background: #a0bcc2;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 40px;
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px 5px 0 0;
}
.txt-plus-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.txt-plus-feat-btn {
  text-align: center;
  width: 40px;
  padding: 5px;
  background: #d9e4dd;
  border-radius: 4px;
  color: #555555;
  margin: auto;
  margin-top: 27px;
  height: 33px;
  line-height: 33px;
  cursor: pointer;
}
/* 이름 변경 모달 */
.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.modal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0, 0.2);
}
.modal-rename-container {
  position: absolute;
  width: 400px;
  height: 300px;
  background: #321c1b;
  z-index: 2;
  left: 50%;
  transform: translatex(-50%);
}
.modal-rename-title {
  background: #fef01b;
  color: #321c1b;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* 알림창 */
.modal-alert {
  position: absolute;
  background: #9bbbd4;
  border: 3px solid #321c1b;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: -300px;
  right: -300px;
  z-index: 3;
}
.modal-alert-title {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 200px;
  left: 50px;
  line-height: 50px;
  text-align: center;
}
.modal-alert-content {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 150px;
  left: 75px;
  line-height: 50px;
  text-align: center;
}
