<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>아이디 : <%=postArr[0]%></p>
    <p>비밀번호 : <%=postArr[1]%></p>
    <p>이름 : <%=postArr[2]%></p>
    <img src=<%=postArr[4]%> style="width:100px;height:100px;">
</body>
</html>