.container {
  background-color: #f5f5de;
}

.container-header {
  line-height: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ec855b;
}

.text-container {
  padding: 50px;
}
.picture {
  background-color: black;
  width: 150px;
  height: 200px;
  margin: 0 auto;
}

.title {
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.sub-text {
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}
