.box {
  margin-bottom: 100px;
  display: inline-block;
}

.another {
  display: inline-block;
}
.px {
  width: 10vh;
  height: 10vh;
  background-color: palegoldenrod;
}

.pct-parent {
  width: 500px;
  height: 500px;
  background-color: plum;
}

.pct-child {
  width: 50%;
  height: 50%;
  background-color: palegreen;
}

.em {
  font-size: 2em;
}

.case1 {
  font-size: 20px;
}

.case2 {
  font-size: 10px;
}

.em-3 {
  font-size: 3em;
}

.rem {
  font-size: 2rem;
}

.vw {
  height: 20vw;
  width: 20vw;
  background-color: coral;
}

.vh {
  height: 20vh;
  width: 20vh;
  background-color: skyblue;
}

.test {
  font-size: 20vh;
}

/* small */
@media (min-width: 576px) and (max-width: 768px) {
  .px {
    background-color: red;
    display: block;
  }
  .another {
    display: block;
  }

  .test {
    font-size: 10vw;
  }
}
/* medium */
@media (min-width: 768px) and (max-width: 992px) {
  .px {
    background-color: orange;
    display: inline-block;
  }
  .another {
    display: none;
  }

  .test {
    font-size: 10vw;
  }
}
/* large */
@media (min-width: 992px) and (max-width: 1200px) {
  .px {
    background-color: yellow;
    display: inline-block;
  }
  .another {
    display: inline-block;
  }

  .test {
    font-size: 10vw;
  }
}
/* extra large */
@media screen and (max-width: 1200px) {
  .px {
    background-color: green;
    display: inline-block;
  }
  .another {
    display: none;
  }

  .test {
    font-size: 10vw;
  }
}
