<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.ejs</title>
</head>
<body>
    <form action="practice_receive_practice33" method="post">
        <fieldset>
            <legend>로그인</legend>
        <label>
            아이디
            <br>
            <input type="text" name="id" placeholder="이름" ><br>
        </label>
        <br>
        <label>
            비밀번호
            <br>
            <input type="text" name="pw" placeholder="비밀번호" ><br>
        </label>
        </fieldset>
        
        <br>
        <button>전송</button>
    </form>
</body>
</html>