<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/login" method="post">
        <fieldset style="width:300px;">
            <legend>방명록 등록</legend>
            <input type="text" name="id" placeholder="사용자 이름"><br>
            <input type="text" name="pw" placeholder="방명록"><br>
            <button type="submit">등록</button>
        </fieldset>
    </form>
    <br>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>작성자</td>
            <td>방명록</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
    </table>
</body>
</html>