.headerGnb {
  margin-left: auto;
}
.mainContainer {
  padding-top: 56px;
  height: 700px;
}
.aboutContainer {
  background-color: #eeefee;
}
.aboutHeader {
  font-size: 30px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
}
.contentHeader.under {
}
.profileContainer {
}
.describeContainer {
}
.contentHeader {
  font-size: 25px;
  padding-top: 25px;
}
.profileList {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0 0 0 20px;
  margin: 10px 0;
}
.profileList > li {
  width: 100%;
  font-size: 17px;
  padding-bottom: 5px;
}
.describe {
  padding-top: 20px;
}
.profileContainer {
  vertical-align: top;
}
.contentHeader.second {
  margin-top: 15px;
}
.techList {
  vertical-align: middle;
  list-style: none;
  text-align: center;
  padding: 0 0 0 0;
}
.techList > li {
  padding-bottom: 15px;
}
.techBtn {
  margin-bottom: 15px;
}
.describe.second {
  margin: 0;
}
.profileContent {
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .profileContainer {
    display: block;
    width: 100%;
  }
  .describeContainer {
    width: 100%;
  }
  .contentHeader {
    margin-top: 15px;
  }
}
